
    <mat-toolbar class="menu-superior">
      <mat-toolbar-row class="mat-row">
        <img src="assets/logos/FIFALogo.png"  routerLink="/" alt="FIFA LOGO" class="image-logo">
        <button mat-button routerLinkActive="active current" routerLink="/clubespro">Clubes Pro</button>
        <button mat-button routerLinkActive="active current" routerLink="/1vs1" >1 vs 1</button>
        <button mat-button routerLinkActive="active current" routerLink="/reglamento">Reglamento</button>
        <button mat-button routerLinkActive="active current" routerLink="/clips">Clips</button>
        <button mat-button routerLinkActive="active current" routerLink="/noticias">Noticias</button>
      </mat-toolbar-row>
    </mat-toolbar>


